.banner {
    background: url("img/anhnen.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 17 rem;
    padding-bottom: 17 rem;
    color: darkred ! important;
}


.slogan {
    text-align: center;
    width: 100 %;
}

.row {
display: flex;
flex-wrap: wrap;
margin-top: -1;
max-width: 100 %;
padding-right: 3 rem;
padding-left: 3 rem;
background-color: lightgrey;
}

.block_3 {
    flex: 0 0 auto;
    width: 30 %;
    margin: 10 px;
}

footer {
    background-color: lightgrey;
    margin: 1 px;
    padding: 10 px;
}

.link {
    color: navy;
    text-align: left;
}

.cell_img {width: 50 %;}

.cell_text { width: 50 %; padding-left: 5 rem;}

.img {
    width: 100 %;
    height: 100 %;
}

.menu {
    font-size: 120 %;
    text-decoration: none;
}

.cell {
    text-align: justify;
    padding: 1.5 em;
}

body {
    font-size: 20 px;
}

.login-link {
    background: rgb (0, 83, 139);
    color: white;
    padding: 10 px 18 px;
    border-radius: 6 px;
    text-decoration: none;
    font-weight: bold;
}






